<section class="bg0 p-t-23 p-b-50">
    <div class="container">
        <div class="block1-txt-child1 flex-col-l">
            <span class="block1-name ltext-102 trans-04 p-b-8 translate">
                OPPO
            </span>
            <div class="l-product-male">
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2021/07/23/image-removebg-preview-2.png" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">OPPO Reno6 5G - Chính Hãng</p>
                        <span class="l-product-male-desc-price">12.090.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2021/07/07/reno6-z-bl.png" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">OPPO Reno6 Z 5G - Chính Hãng</p>
                        <span class="l-product-male-desc-price">9.090.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2021/05/28/image-removebg-preview-4.png" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">Oppo A74 8G/128G - chính hãng</p>
                        <span class="l-product-male-desc-price">5.990.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2020/12/15/thumr-web.png" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">OPPO Find X3 Pro 5G - Chính hãng</p>
                        <span class="l-product-male-desc-price">23.890.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
            </div>
            <div class="l-product-male">
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2021/03/20/a94-thumbbbb.png" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">OPPO A94 - Chính hãng</p>
                        <span class="l-product-male-desc-price">6.890.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2021/02/20/111.png" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">OPPO Reno5 5G - Chính hãng</p>
                        <span class="l-product-male-desc-price">10.550.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2021/01/26/oppo-a1-thurmm.jpeg" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">OPPO A15s - Chính hãng</p>
                        <span class="l-product-male-desc-price">3.890.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
                <div class="l-product-male-item">
                    <img src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2020/12/15/thumr-web.png" alt="" class="l-product-male-img">
                    <div class="l-product-male-desc">
                        <p class="l-product-male-desc-name">OPPO A15 - Chính hãng</p>
                        <span class="l-product-male-desc-price">3.390.000đ</span>
                        <span class="l-product-male-desc-status">_new_</span>
                    </div>
                </div>
            </div>
            <span class="l-product-male-see-more">Xem Thêm...</span>
        </div>

        <div class="row isotope-grid">

            <% listapplewatch.forEach(function (product) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="<%= product.imagePath %>" alt="IMG-PRODUCT" style="width:250px;height:250px">

                        <a href="#" onclick="showdata('<%= product.productname %>', '<%= product.price %>','<%= product.description %>',
                                    '<%= product.imagePath %>','<%= product.category %>', '<%= product._id %>')"
                            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                            Quick View
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/products/<%= product._id %>"
                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                <%= product.productname %>
                            </a>
                            <a href="/products/<%= product._id %>"
                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                <%= product.description %>
                            </a>

                            <span class="stext-105 cl3">
                                $<%=product.price %>
                            </span>
                            <div>
                                <img src="/images/star.svg" alt="/" />
                                <img src="/images/star.svg" alt="/" />
                                <img src="/images/star.svg" alt="/" />
                                <img src="/images/star.svg" alt="/" />
                                <img src="/images/star.svg" alt="/" />
                             
                            </div>
                        </div>


                        <div class="block2-txt-child2 flex-r p-t-3">

                        </div>
                    </div>
                </div>
            </div>

            <% }) %>

            <!-- Load more -->
            <!-- <div class="flex-c-m flex-w w-full p-t-45">
            <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04 translate">
                Load More
            </a>
        </div> -->
        </div>

</section>