<%- include('../includes/head.ejs') %>
<body class="animsition">

    <%- include("../includes/header.ejs")%>


  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="<%=product.imagePath%>" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
			<h2 class="mtext-105 cl2 js-name-detail p-b-14 modal-productname" id="data_productname" value="	<%= product.productname %>">
				<%= product.productname %>
			</h2>
			<!--Content-->
			<div class="p-t-33">
				<div class="flex-w flex-r-m p-b-10 modal-detail">
					<div class="size-203 modal-detail-textsize">
						Price ($):
					</div>
					<div class="size-204 respon6-next">
						<div id="data_price" class="data-text modal-detail-textsize">	<%= product.price %></div>
					</div>
				</div>
				<div class="flex-w flex-r-m p-b-10 modal-detail">
					<div class="size-203 modal-detail-textsize">
						Category:
					</div>
					<div class="size-204 respon6-next">
						<div id="data_category" class="data-text modal-detail-textsize">	<%= product.category %></div>
					</div>
				</div>
				<div class="flex-w flex-r-m p-b-10 modal-detail">
					<div class="size-203 modal-detail-textsize ">
						Description:
					</div>
					<div class="size-204 respon6-next">
						<div id="data_description" class="data-text modal-detail-textsize">	<%= product.description %></div>
					</div>
				</div>
				

				<div class="flex-w p-b-10 modal-detail modal-review">
					<div class="size-203 ">
						<img src="/images/star.svg" alt="#" />
						<img src="/images/star.svg" alt="#" />
						<img src="/images/star.svg" alt="#" />
						<img src="/images/star.svg" alt="#" />
						<img src="/images/star.svg" alt="#" />
					</div>
					<div class="size-203  modal-text-review modal-detail-textsize">
						| 10 Reviews
					</div>
						
				</div>
				<%- include("../includes/add-to-cart.ejs")%>

			</div>
		</p>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Modern electronic commerce typically uses the World Wide Web for at least one part of the transaction's life cycle although it may also use other technologies such as e-mail. Typical e-commerce transactions include the purchase of online iPhone, Macbook, Airpods and Apple watch purchases.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mrhoa.com/wp-content/uploads/2018/07/970-1.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="http://media.doisongphapluat.com/552/2019/10/17/Nhung-loai-hoa-hoa1.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://printgo.vn/uploads/media/783284/bat-mi-nhung-loai-hoa-cuc-dep-va-y-nghia-nen-tang-thay-co-ngay-20-11-1_1604478729.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

  

	<%- include('../includes/footer.ejs') %>			
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	
	<%- include('../includes/cart-r-side.ejs') %>
	<%- include('../includes/modal.ejs') %>
<%- include('../includes/end.ejs') %>

<script>
	function postCartModal() {
		var quantity = $("#productQuantity").val();
		var productId = $("#productId").val();
		var productName = $('#data_productname').text();

		$.ajax({
			url: "/cart",
			type: "POST",
			data: {
				productId: productId,
				productNumber: quantity
			},
			success: function (res) {
				swal(productName, " is added to cart !", "success");
				refreshCartOrder();
			},
			error: function (err) {
				console.log(err)
				swal("Failed", "success");
			}
		});

	}


	function refreshCartOrder() {
		$.ajax({
			url: '/api/cart',
			type: 'GET',
			dataType: 'json',
		}).done(function (res) {
			const sumPrice = res.sumPrice;
			const products = res.products;
			console.log(products.length)
			$('#shopCart').attr('data-notify', products.length);
			$('#sumPrice').html(sumPrice)
			$('#cart-product-list').html(TemplateCartRSide.createProductList(products));
		});
	}
</script>